.login_main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_box {
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(80, 80, 80);
    border-radius: 1em;
}

.login_box_header {
    background-color: rgba(238, 130, 238, 0.297);
    border: 1px solid violet;
    border-radius: 0.4em;
    padding: 4px 7px;
    font-family: "Montserrat", sans-serif;
    margin: 3em 0;
}

.login_box input {
    background-color: transparent;
    outline: none;
    border: none;
    color: aliceblue;
    padding-bottom: 5px;
    width: 90%;
}

input::placeholder {
    color: gray;
}

.login_field {
    border-bottom: 1px solid gray;
    color: gray;
}

.login_name {
    width: 60%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 1em;
}

.login_email {
    width: 60%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 1em;
    margin: 2em;
}

#login_email {
    width: 98%;
}

.login_button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.login_button a {
    background-color: white;
    color: black;
    border: 1px solid white;
    border-radius: 0.5em;
    padding: 5px 20px;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 0.8em;
    font-weight: 700;
}